/* .Button { border: 3px solid red } */

/* Identifies only those SWT Text elements
appearing within a Composite */
/*
Composite Text {
  background-color: white;
  color: black;
}

/* highlight focused field */
Text:focus {
  background-color: #FAF0A2;
}

SashForm {
  background-color: #c1d5ef;
}

/ * background uses a gradient * /
.MTrimBar {
  background-color: #e3efff #c1d5ef;
  color: white;
  font: Verdana 8px;
}

Shell {
  background-color: #e3efff #c1d5ef 60%;
} */

.headerSectionContainer {
	background-color: gradient #575757 #101010 100%;
}

.sectionHeader {
	font-weight: bold;
	font-size: 15pt;
	color: white;
}

.subSectionHeader {
	background-color: gradient #575757 #101010 100%;
}


.contentContainer {
	background-color: #fff #fff #cccccc 20% 80%;
}

.formContainer {
	background-color: #fff;
}
